[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "OALWrapper"]
	path = OALWrapper
	url = git@github.com:Strife-AI/OALWrapper.git
[submodule "tmxlite"]
	path = tmxlite
	url = git@github.com:fallahn/tmxlite.git
[submodule "Strife.ML"]
	path = Strife.ML
	url = git@github.com:Strife-AI/Strife.ML.git
